.social-links {
  position: fixed;
  bottom: 10%;
  right: 0;
  display: flex;
  flex-direction: column-reverse; /* para que el primer badge quede abajo */
  gap: 10px;
  z-index: 1000;
}

.social-links a {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  background-color: #4a4a4a; /*#023059;  base azul oscuro */
  color: white;
  text-decoration: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 0; /* sin borde a la derecha */
  width: 100%; /* que tome solo el ancho necesario */
  transition: background-color 0.3s;
  cursor: pointer;
}

.social-links a:hover {
  color: #1282a2;
}
