/* Botón flotante */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #023059;
  border-radius: 50%;
  padding: 11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #0056b3;
}

.social-links {
  position: fixed;
  bottom: 80px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-links a {
  text-decoration: none;
  color: inherit;
}

.social-links a:hover {
  opacity: 0.7;
  color: #a7b2c1;
}
